.orderItem--comp {
  border: 3px solid var(--black);
  border-radius: 40px;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  align-items: stretch;
  font-family: var(--headings-font-family);
  flex-direction: column;
}
.orderItem--comp_denied {
  border: 3px solid var(--gray);
}
.orderItem--heders {
  display: flex;
  justify-content: space-around;
}
.orderItem--heders > h1 {
  font-size: 2rem;
}
.orderItem--heders_denied {
  color: var(--gray);
}
.orderItem--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.orderItem--comp h2 {
  font-size: 2rem;
  color: var(--green);
}
.orderItem--comp_denied h2 {
  color: var(--gray);
}
.orderItem--borders {
  width: 70%;
  margin: 2rem;
}
.orderItem--border1 {
  border-radius: 82% 18% 40% 60% / 55% 53% 47% 45%;
  width: 100%;
  border: 3px solid var(--red);
  padding: 0 10px;
}

.orderItem--border2 {
  border-radius: 11% 89% 79% 21% / 84% 53% 47% 16%;
  width: 100%;
  border: 3px solid var(--yellow);
  padding: 0 10px;
}
.orderItem--border3 {
  border-radius: 17% 83% 40% 60% / 22% 34% 66% 78%;
  width: 100%;
  border: 3px solid var(--blue);
  padding: 0 10px;
}
.orderItem--border1_denied,
.orderItem--border2_denied,
.orderItem--border3_denied {
  border: 3px solid var(--gray);
}
.orderItem--img {
  border-radius: 17% 83% 40% 60% / 22% 34% 66% 78%;
}
.orderItem--img_denied {
  border-radius: 17% 83% 40% 60% / 22% 34% 66% 78%;
  filter: grayscale(1) opacity(0.30);
}

.orderItem--btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}

.orderItem--btn > * {
  background-color: var(--yellow);
  text-align: center;
  padding: 0.75em 2em;
  border-radius: 10px;
  font-size: 1.3rem;
  margin-top: 0.8rem;
  width: 70%;
}
.orderItem--btn > *:last-child {
  background-color: var(--pink);
}

.orderItem--btn > *:first-child {
  background-color: var(--green);
}
.orderItem--btn_denied *:last-child,
.orderItem--btn_denied *:first-child {
  background-color: var(--gray);
}
.orderItem--btn > *:hover,
.orderItem--btn > *:focus {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  border-radius: 91% 9% 87% 13% / 87% 10% 90% 13%;
  color: var(--red);
}

.orderItem--content-right > h2,
.orderItem--content-right > p {
  margin: 1.2rem;
  font-size: 2rem;
  color: var(--green);
}
.orderItem--content-right > h4 {
  margin: 0 1.2rem;
  font-size: 1.5rem;
  color: var(--green);
}
.orderItem--content-right > h3 {
  font-size: 1rem;
  color: var(--black);
  margin: 0 1.2rem;
}
.orderItem--content-right > h5 {
  font-size: 1.5rem;
  margin: 0 1.2rem;
  padding: 1.4rem 0;
}
.orderItem--content-right > h6 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  margin: 0 1.2rem;
}
.orderItem--content-right_denied > h2,
.orderItem--content-right_denied > p,
.orderItem--content-right_denied > h4,
.orderItem--content-right_denied > h3,
.far_denied {
  color: var(--gray);
}
