:root {
    --blue: #026daf;
    --purple: #ccc1e9;
    --yellow: #fdc435;
    --pink: #eb8270;
    --gray: #c4c4c4;
    --black: #000;
    --red: #9b0145;
    --green: #004d57;
    --notWhite: #f7f2f2;
    --headings-font-family: 'Open Sans', sans-serif;
    /* color: var(--blue); */
}

*,
::after,
::before {
    box-sizing: border-box;
}


/*************Home page*****************/

.homePage {
    display: flex
}

.homePage--hero {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.homePage--hero_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.homePage--hero_text {
    display: flex;
    flex-direction: column;
}

.homePage--hero_icons {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.homePage--borderRadius-1 {
    border-radius: 82% 18% 56% 44% / 56% 76% 24% 44%;
    height: 500px;
    width: 500px;
    border: 3px solid var(--yellow);
    /* padding-left: 20px; */
}

.homePage--borderRadius-2 {
    border-radius: 26% 74% 85% 15% / 82% 29% 71% 18%;
    height: 500px;
    width: 500px;
    border: 3px solid var(--blue);
    /* padding-left: 20px; */
}

.homePage--borderRadius-3 {
    border-radius: 22% 78% 25% 75% / 22% 53% 47% 78%;
    height: 500px;
    width: 500px;
    border: 3px solid var(--red);
    padding-left: 20px;
}

.homePage--hero_about {
    background-color: var(--yellow);
    font-family: var(--headings-font-family);
    font-weight: bold;
    color: var(--notWhite);
    justify-content: space-between;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 2em;
    text-align: center;
    justify-content: center;
}

.homePage--hero_about>span {
    text-align: center;
    justify-content: center;
}

.homePage--hero_heder {
    font-family: var(--headings-font-family);
    font-size: 3rem;
}

.homePage--hero_heder>h1 {
    font-weight: 900;
}

.homePage--hero_btn {
    background-color: var(--yellow);
    font-size: 1.5rem;
    width: 150px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 100px;
}

.homePage--hero_btn:hover,
.homePage--hero_btn:focus {
    opacity: .75;
}

.homePage--hero>p {
    display: flex;
    justify-content: space-between;
    width: 60%;
    text-align: center;
    align-items: center;
}


/*************Success*****************/

.confetti-wrap {
    background-color: aliceblue;
    padding: 30px;
    margin: 0;
    height: 100vh;
}


/*************log in*****************/

.container {
    padding: 40px
}

.ui.stackable.two.column.grid.login-container {
    border: 3px solid var(--black);
    padding: 30px;
}

.ui.vertical.divider {
    height: 30%;
}

.ui.fluid.primary.button {
    color: var(--notWhite);
    background: var(--yellow);
    width: 100px;
    border-radius: 20px;
    margin-top: 20px;
}

.login--input {
    width: 80%;
    border-radius: 20px;
    margin-top: 10px;
}

.login-container {
    border-radius: 40px;
    border: 1px solid var(--black);
    margin: 150px;
}

.ui.basic.segment {
    padding: 40px;
}

.ui.yellow.button {
    margin-left: 150px;
    width: 50%;
    border-radius: 40px;
    align-items: center;
}