.profileItem--comp{
    display: flex;
    flex-wrap: wrap; 
    border:1px solid black;

}
.profileItem--comp>*{
    flex:1 1 33%;
    border:1px solid red;
}

.profileItem--border_1{
    border-radius: 44% 56% 81% 19% / 14% 24% 76% 86%;
    width: 100%;
    border: 3px solid var(--red);
}
.profileItem--border_2{
    border-radius: 69% 31% 9% 91% / 80% 34% 66% 20% ;
    width: 100%;
    border: 3px solid var(--blue);
}.profileItem--border_3{
    border-radius: 28% 72% 9% 91% / 28% 61% 39% 72% ;
    width: 100%;
    border: 3px solid var(--yellow);
}
.profileItem--img{
    border-radius: 86% 14% 9% 91% / 28% 61% 39% 72%  ;

}