.searchByCategories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.searchByCategories > * {
  flex: 1 1 30%;
}
.searchItem--comp{
  color: var(--pink);
  text-decoration: none;
  margin: 1.3rem;

}

.searchByCategories--comp > :hover,
.searchByCategories--comp > :focus {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  color: var(--red);
}
