.searchBarHomePage {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    flex-wrap: wrap;
    color: var(--yellow);
  }
  .searchBarHomePage > * {
    /* border: 1px solid var(--blue); */
    flex-basis: 100%;
    margin: 1em 2.5em;
    color: var(--yellow);
  }
  .searchBarHomePage--item {
    color: var(--pink);
  }
  .searchBarHomePage--item:hover,
  .searchBarHomePage--item:focus {
    color: var(--red);
  }