.usersListBySearchItem--content {
  margin: 3rem;
  padding: 3rem;
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

.usersListBySearchItem--imgborder1 {
  border-radius: 18% 82% 19% 81% / 71% 91% 9% 29%;
  border: 3px solid var(--yellow);
  width: 60%;
}
.usersListBySearchItem--imgborder2 {
  border-radius: 19% 81% 14% 86% / 16% 13% 87% 84%;
  border: 3px solid var(--green);
}
.usersListBySearchItem--imgborder3 {
  border-radius: 34% 66% 49% 51% / 71% 40% 60% 29%;
  border: 3px solid var(--red);
}
.usersListBySearchItem--img {
  border-radius: 18% 82% 86% 14% / 15% 22% 78% 85%;
  margin-left: 1.5rem;
  border: 3px solid var(--pink);
}

.usersListBySearchItem--text > h3 {
  color: var(--yellow);
}
.usersListBySearchItem--text > h4 {
  color: var(--pink);
}
